.container{
    padding: 32px;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.reloadButton {
    display: block;
    position: fixed;
    border: 0px;
    background-color: #fff;
    padding: 50px;
    border-radius: 25px;
    border: 1px solid black;
    top: 10px;
    right: 10px;
    z-index: 100;
    font-size: 32px;
}

.reloadButton:hover {
    background-color: aqua;
}