.container {
    padding: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.registerContainer {
    background-color: aqua;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userListContainer { 
    background-color: blueviolet;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputStyle {
    border: 1px solid aqua;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    margin: 4px;
}

.inputStyle:focus {
    border: 1px solid aqua;
    background-color: white;
}

.submitButton:hover {
    border: 1px solid #888;
}

.submitButton:active {
    background-color: #ccc;
}