.container {
    padding: 32px;
}

.fieldNameInput {
    font-size: medium;
    margin: 12px 0px 4px;
}

.inputText {
    padding: 8px;
    border-radius: 8px;
    background-color: #ccc;
    border: 0px;
}

.inputText:focus {
    outline: none;
}

.buttonSubmit {
    padding: 8px;
    border-radius: 8px;
    background-color: #00ff00;
    border: 0px;
}

.buttonSubmit:hover {
    background-color: #00ff0040;
}

.buttonSubmit:active {
    background-color: #00ff00;
}