.container {
    padding: 32px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.historyContainer {
    padding: 0px 16px;
    background-color: beige;
    margin: 0px 32px;
    border: 1px solid #777;
    border-radius: 4px;
    width: 200px;
}

.historyList {
    overflow-y: scroll;
    height: 450px;
    display: flex;
    flex-direction: column;
}

.historyItem {
    padding: 0 4px;
    display: flex;
    justify-content: center;
    padding: 2px;
    margin: 2px;
}

.currentMove {
    color: green;
    font-weight: bold;
}

.historyHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 8px;
}

.button {
    height: fit-content;
    width: fit-content;
    padding: 6px;
    border-radius: 8px;
    font-size: 16px;
    border: 0;
    padding: 8px;
    margin-left: 10px;
}


.input {
    height: fit-content;
    width: fit-content;
    padding: 6px;
    border-radius: 8px;
    font-size: 16px;
    border:  1px solid #ccc;
    padding: 8px;
    outline: none;
}